# Exercises: 1

This document contains all my solutions to Exercises 1 of the Statical Data Analysis course at the University of Turku.

## 1.1

Consider the following three vectors:

A: 5, 8, 7, 6, 8, 4

B: 1.3, 2.1, 1.8, 1.2, 1.4, 2.3

C: y, y, n, y, n, n

___

## Solution 1.1

### Combine the vectors into a data frame with 3 columns and 6 rows.

In [52]:
# Import needed libraries.
import pandas as pd
import numpy as np

# Create a series of the given vectors.
v1 = pd.Series([5, 8, 7, 6, 8, 4])
v2 = pd.Series([1.3, 2.1, 1.8, 1.2, 1.4, 2.3])
v3 = pd.Series(["y", "y", "n", "y", "n", "n"])

# Concatenate the vectors into a DataFrame.
va = pd.concat([v1, v2, v3], axis=1)

# Print the DataFrame.
print(va)

   0    1  2
0  5  1.3  y
1  8  2.1  y
2  7  1.8  n
3  6  1.2  y
4  8  1.4  n
5  4  2.3  n

### Print the element (3, 2).

In [53]:
# Print the value in the 4th row and 3rd column.
print(va.iloc[3,2])

y

### Print the 4th row.

In [54]:
# Print the value in the 4th row.
print(va.iloc[3,])

0      6
1    1.2
2      y
Name: 3, dtype: object

### Create a subset that consists of the last two columns and the rows 2 - 5.

In [55]:
# Print the values in the 2nd to 5th row.
subset = va.iloc[1:5, -2:]
print(subset)

     1  2
1  2.1  y
2  1.8  n
3  1.2  y
4  1.4  n

### Transpose the data frame so that it has 6 columns and 3 rows.

In [56]:
# Print the transposed version of the DataFrame.
print(va.transpose())

     0    1    2    3    4    5
0    5    8    7    6    8    4
1  1.3  2.1  1.8  1.2  1.4  2.3
2    y    y    n    y    n    n

## 1.2 Thyroid Disease

• Download the file allbp.data from the Thyroid Disease data set available at https://archive.ics.uci.edu/
dataset/102/thyroid+disease.

• Load and preprocess the data so that it is ready for analysis. (Check categorical variables, missing values,
variable names and so on.) Use the file allbp.names to your advantage.

• How many observations and how many variables are there in the data?

• Which variables have missing values? How many?

___

## Solution 1.2

### Download the allbp.data

"allbp.data" can be found in the directory "./data".

### Load the data

In [79]:
# Preprocess the data.
columns = ['age',
            'sex',
            'on thyroxine',
            'query on thyroxine',
            'on antithyroid medication',
            'sick',
            'pregnant',
            'thyroid surgery',
            'I131 treatment',
            'query hypothyroid',
            'query hyperthyroid',
            'lithium',
            'goitre',
            'tumor',
            'hypopituitary',
            'psych',
            'TSH measured',
            'TSH',
            'T3 measured',
            'T3',
            'TT4 measured',
            'TT4',
            'T4U measured',
            'T4U',
            'FTI measured',
            'FTI',
            'TBG measured',
            'TBG',
            'referral source',
            'CLASS']
categorical_idx = list(range(1, 16)) + [16, 18, 20, 22, 24, 26, 28, 29]
quantative_idx = [0, 17, 19, 21, 23, 25, 27]

# Load the data from the data directory.
data = pd.read_csv("data/thyroid-disease/allbp.data", na_values=['?'], names=columns)

### Preprocess the data

In [80]:
# Remove extra '.' characters at the end of the lines.
data.CLASS = data.CLASS.str.split('.', expand=True).iloc[:, 0]

# Convert to categorical data.
for i in categorical_idx:
    name = columns[i]
    data[name] = pd.Categorical(data[name])

# Print observations and variables.
print(data.shape)

(2800, 30)

As shown above there are 2800 observations and 30 variables in total.

### Calculate all missing values and their count.

In [82]:
### Calculate all missing values.
print(data.isna().sum())

age                             1
sex                           110
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           284
T3 measured                     0
T3                            585
TT4 measured                    0
TT4                           184
T4U measured                    0
T4U                           297
FTI measured                    0
FTI                           295
TBG measured                    0
TBG                          2800
referral source                 0
CLASS                           0
dtype: int64

As shown in above, there are one missing value in age column.

There are also hundreads or even thousands of missing values in many columns.

## 1.3 Thyroid Disease (continued)

Continue to analyse the data you prepared in the earlier exercise.

• For each variable that has only yes/no values, calculate the number of yes values divided by the number of
observations.

• For each of the TSH, T3, TT4, T4U, FTI and TBG variables, calculate the sum of the squared values divided
by the number of non-NA values.

• Calculate the mean ratio (i.e. the mean of ratios) between T3 and TT4

___

## Solution 1.3

### Calculate the number of yes values and dive them by observations.

In [84]:
counts = (data.iloc[:, categorical_idx] == 't').sum(axis=0)
result = counts / data.shape[0]
print(result)

sex                          0.000000
on thyroxine                 0.117857
query on thyroxine           0.014286
on antithyroid medication    0.012143
sick                         0.039286
pregnant                     0.014643
thyroid surgery              0.013929
I131 treatment               0.017143
query hypothyroid            0.058214
query hyperthyroid           0.061786
lithium                      0.005000
goitre                       0.008929
tumor                        0.025357
hypopituitary                0.000357
psych                        0.048214
TSH measured                 0.898571
T3 measured                  0.791071
TT4 measured                 0.934286
T4U measured                 0.893929
FTI measured                 0.894643
TBG measured                 0.000000
referral source              0.000000
CLASS                        0.000000
dtype: float64

### Calculate the sum of the squared values diveded by the number of non-NA values.

In [86]:
### Create a new subset of the data.
data_subset = data.iloc[:, quantative_idx]

### Calculate the sum of the squares of the missing values and divide by the number of non-missing values.
result = (data_subset**2).sum(axis=0) / data_subset.notna().sum(axis=0)

### Print the result.
print(result)

age     3106.333691
TSH      481.725148
T3         4.780147
TT4    13148.934755
T4U        1.033601
FTI    13354.902248
TBG             NaN
dtype: float64

### Calculate the mean ratio between T3 and TT4

In [87]:
## Calculate the mean of the ratio of T3 and TT4.
result = (data['T3'] / data['TT4']).mean()

## Print the result.
print(result)

0.019673501919946535

# 1.4 Purchases

• Load the data available in the file purchases.csv.

• Find invalid values in the data and replace them either with a correct value (if possible) or with NaN.

• Replace all missing values of the purchases variable with zero.

• Use median imputation to fill in all missing values of the retention_time variable.

• (BONUS) Group the observations by sex and location before calculating the substitute median(s).

___

## Solution 1.4

### Load the data purchases.csv

In [103]:
# Load the data from the data directory.
data = pd.read_csv("data/purchases/purchases.csv", names=columns, skiprows=1)

### Find invalid values in the data and replace them either with correct value (if possible or with NaN).

In [116]:
import numpy as np

# Replace wrong sex values with the correct ones.
data.loc[data.sex == 'nale', 'sex'] = 'male'

# Replace wrong location values with the correct ones.
data.loc[data.location == '20100', 'location'] = 'Turku'
data.loc[data.location == '33100', 'location'] = 'Tampere'
data.loc[data.location == '00100', 'location'] = 'Helsinki'

# Replace wrong retention time values with the correct ones.
data.loc[data.retention_time < 0, 'retention_time'] = np.nan

### Replace all missing values of purchases variable with zero.

In [110]:
# Replace missing purchase values with the value of zero.
data['purchases'] = data['purchases'].fillna(0)

### Use median imputation to fill in all missing values of the retention_time variable.

In [111]:
# Fill missing retention time values with median value of the column.
data['retention_time'] = data['retention_time'].fillna(data['retention_time'].median())

### (BONUS) Group the observations by sex and location before calculating the substitute median(s).

In [115]:
bonus = data.copy()
fn = lambda row: row.fillna(row.median())
bonus.retention_time = bonus.groupby(['sex', 'location']).retention_time.transform(fn)